
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* HEADER */

.header {
    background-image: linear-gradient(to bottom right,#340068, #4ce0d2);
    min-height: 100vh;
    text-align: center;
    padding-top: 150px; /* Offer different way of positioning, please!*/
}

h1, h2 {
    color: white;
    font-size: 3rem;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 700;
} /* Maybe to include the 3 above in a shorter way */

.portfolioBtn {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 40px;
    
}

.portfolioBtn:hover {
    background-color: white;
    color:#0e0e52;
    cursor: pointer;
}

/* MAIN NAVIGATION */

.logo {
    position: absolute; /* Relative and absolute positioning is still not clear to me */
    padding: 10px 0 0 100px;
}
.navbar {
    list-style: none;
    display: flex;
    justify-content: right;
    font-size: 1.2;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 5px 5px rgba(60, 60, 60, 0.44);
    }

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: #007ea7;
}
li {
    padding: 30px 30px;
}   /* I wonder if all above settings could be applied as on one property - navbar and li props */

